body {
    background-color: #eee;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em;
    margin-top: 1em;
}

.container>div {
    background-color: #fff;
    box-shadow: 0px 5px 10px #ccc;
    padding: 10px;
    border-radius: 5px;
}

.container-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    margin: 25px 0;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    text-align: right !important;
}

.dataframe thead tr {
    background-color: #0E7C86;
    color: #ffffff;
}

.dataframe th,
.dataframe td {
    padding: 8px 12px;
}

.dataframe tbody tr {
    border-bottom: 1px solid #dddddd;
}

.dataframe thead tr th:first-child {
    background-color: #627D98;
}

.dataframe tbody tr th {
    background-color: #D9E2EC;
}

.dataframe tbody tr:nth-of-type(even) {
    background-color: #F0F4F8;
}

.hidden {
    display: none;
}
